<section class="photos-home"
         fxLayout="column"
         fxLayoutAlign="start center"
         fxLayoutGap="10px"
>
  <!-- region tags input -->
  <div class="tags-input-wrapper" fxLayoutGap="10px">
    <!--  tags input  -->
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Favorite Fruits</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let tag of tags" color="primary"
                  [removable]="true" (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Please enter a tag"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <!-- clear button  -->
    <button mat-raised-button color="accent" (click)="clear()">Clear</button>
    <!-- search button -->
    <button mat-raised-button color="primary" (click)="search()" [disabled]="tags.length===0">Search</button>
  </div>
  <div class="sort-wrapper">
    <span>Requests</span>
    <div class="sort-options">
      <span>Sorted By</span>

      <ng-container *ngIf="(sortBy|async) as sort">
        <button mat-button [color]="sort==='views'?'primary':''" (click)="sortByAttribute('views')">Number of Views
        </button>

        <button mat-button [color]="sort==='datetaken'?'primary':''" (click)="sortByAttribute('datetaken')">Photo Taken
        </button>

        <button mat-button [color]="sort==='views'?'dateupload':''" (click)="sortByAttribute('dateupload')">Upload Date
        </button>
      </ng-container>

    </div>
  </div>

  <div class="requests-wrapper" fxLayout="row wrap" fxLayoutGap="20px">
    <ng-container *ngFor="let photo of photos$|async">
      <ng-container *ngTemplateOutlet="photoDetails;context:{photo:photo}"></ng-container>
    </ng-container>
  </div>
</section>

<!-- photo details template -->
<ng-template let-photo='photo' #photoDetails>
  <div class="photo-details-wrapper">
    <span class="photo-tags">{{photo.tags}}</span>
    <span class="photo-views">{{photo.views}}</span>
    <mat-card class="photo-card">
      <img class="search-photo" mat-card-image [src]="photo.url_q" alt="Photo Searched by Tag">
      <mat-card-content fxLayout="column">
        <span class="photo-owner">{{photo.ownername|titlecase}}</span>
        <div class="dates-wrapper" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px" fxLayoutGap="20px">
          <span>Uploaded</span>
          <span>{{photo.dateupload|date:'dd.MM.yyyy'}}</span>
          <span>Taken</span>
          <span>{{photo.datetaken|date:'dd.MM.yyyy'}}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
