<section class="photos-home"
         fxLayout="column"
         fxLayoutAlign="start center"
         fxLayoutGap="10px"
>
  <!-- region tags input -->
  <div class="tags-input-wrapper" fxLayoutGap="10px">
    <!--  tags input  -->
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let tag of tags" color="primary"
                  [removable]="true" (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Please enter a tag"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <!-- clear button  -->
    <button mat-raised-button color="accent" (click)="clear()">Clear</button>
    <!-- search button -->
    <button mat-raised-button color="primary" (click)="search()" [disabled]="tags.length===0">Search</button>
  </div>
  <!-- endregion -->
  <!--  region sort wrapper -->
  <div class="sort-wrapper">
    <span>Requests</span>
    <div class="sort-options">
      <span>Sorted By</span>

      <ng-container *ngIf="(sortBy|async) as sort">
        <button mat-button [color]="sort==='views'?'primary':''" (click)="sortByAttribute('views')">Number of Views
        </button>

        <button mat-button [color]="sort==='datetaken'?'primary':''" (click)="sortByAttribute('datetaken')">Photo Taken
        </button>

        <button mat-button [color]="sort==='views'?'dateupload':''" (click)="sortByAttribute('dateupload')">Upload Date
        </button>
      </ng-container>

    </div>
  </div>
  <!--  endregion -->
  <!-- region requests -->
  <div class="requests-wrapper" fxLayout="row wrap" fxLayoutGap="20px">
    <ng-container *ngFor="let photo of photos$|async">
      <app-photo-card [photo]="photo"
                      (showAllImagesEvent)="showAllImages($event)"
                      [showAllImagesAction]="true"></app-photo-card>
    </ng-container>
  </div>
  <!--  endregion -->
</section>
