/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import '~ngx-toastr/toastr';


$bg: #f6f7fb;
$font-poppins: 'Poppins', sans-serif;

html, body {
  overflow-x: hidden;
  background: $bg;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
